/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*-- Google Fonts --*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul {
  display: flex;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 100px;
  margin: auto;
}

.nav-menu>ul>li:last-child {
  margin-right: auto;
  white-space: nowrap;
  /* color: rgb(248, 108, 1) !important; */
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgb(231, 245, 243);
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-menu span{
  display: block;
  position: relative;
  font-weight: 600;
  font-size: large;
}

.nav-menu a:hover, .nav-menu .active>a, .nav-menu li:hover>a {
  color: #000000;
}

/* Bottom Mobile Navigation */


/* Mobile Navigation */

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  /* width: 50vw; */
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #333333;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active>a, .mobile-nav li:hover>a {
  color: #B4FF00;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(26, 26, 26, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro .carousel, #intro .carousel-inner, #intro .carousel-item, #intro .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
}

#intro .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item, #intro .carousel-fade .carousel-inner .active.carousel-item-left, #intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active, #intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left, #intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next, #intro .carousel-fade .carousel-inner .carousel-item-prev, #intro .carousel-fade .carousel-inner .active.carousel-item-left, #intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sections Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/

#projects {
  background: rgb(255, 255, 254);
  color: #13547a;
  background-size: cover;
  padding: 60px 0 40px 0;
}

.container {
  position: relative;
  z-index: 10;
}
.head-line {
  font-size: 20px;
  text-align: center;
  border-bottom: #13547a solid 3px;
}

.card-deck {
  background-color: transparent;
  width: 300px;
  height: 550px;
  perspective: 1000px;
}

.projects-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.card-deck:hover .projects-card-inner {
  transform: rotateY(180deg);
}

.projects-card-front, .proj-info-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .projects-card-front {
} */

.proj-info-back {
  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}
.proj-info-back p{
line-height: 1pt;
}

.glide__slide img {
  width: 100%;
}

.glide__slide {
  filter: blur(2px);
  opacity: .9;
  transition: .3s linear;
  overflow: visible;
  padding-top: 25px;
  padding-bottom: 20px;
  perspective: 1000px;
}

.glide__slide--active {
  opacity: 1;
  filter: none;
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# animate keyframes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/