/*--------------------------------------------------------------
# Google Fonts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Material+Icons');
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: rgb(235, 235, 235);
  color: rgb(112, 112, 112);
  font-family: "Lato", sans-serif;
}

a {
  color: rgb(36, 205, 152);
  transition: 0.5s;
  &:hover,
  &:active,
  &:focus {
    color: rgb(24, 211, 110);
    outline: none;
    text-decoration: none;
  }
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

// .card-deck {
//     display: flex;

//       .card {
//         display: flex;
//         flex: 1 0 0%;
//         flex-direction: column;
//         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//         margin-bottom: 0;
//         max-width: 564px;
//       }

//   }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  .logo {
    // margin: 0;
    margin: auto;
    line-height: 1;
    letter-spacing: 3px;
    a {
      color: rgb(255, 255, 254);
    }
    img {
      max-height: 60px;
    }
  }
}

#header.header-transparent {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

#header.header-scrolled {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 0px 0px 0px 60px;
  border-bottom: #b4ff00 solid 2px;
}

.carousel-item {
    // background-color: rgba(255, 255 0, 1.0);
  
  p {
    font-size: 20px;
  }
}

.btn-request-qoute, .btn-qoute-scroll {
  background-color: rgb(112, 112, 112);
  font-size: 18px;
  color: rgb(231, 245, 243);
  transition: 0.5s;
  letter-spacing: 1px;
  margin: 10px;
  padding: 8px 32px;
  border-radius: 50px;
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;
  p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: rgb(36, 205, 152);
  }
  h2 {
    color: rgb(36, 205, 152);
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
    transform: skew(-13deg);
  }
  .container {
    text-align: center;
  }
  .carousel-fade {
    overflow: hidden;
  }
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 50px;
    right: 50px;
  }
  .carousel-indicators {
    li {
      cursor: pointer;
    }
  }
}
/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (max-width: 500px) {
  .carousel-item img{
width:100px;
  }
  #intro {
    // height: 150vh;
    width: 100vw;
  }

  #header{
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  // .nav-menu {
  //   bottom: 0;
  //   width: 100vw;
  //   height: 5rem;
  // }
  // .logo {
  //   img{
  //     width: 5px;
  //     height: 8px;
  //   }
  // }
}

@media only screen and (max-device-width: 640px) {
  .fileList {
    display: block;
  }

  textarea .message {
    overflow: hidden;
    font-size: 14px;
    display: block;
  }
  .address {
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .address {
    padding-top: 30px;
  }


  // .repair-info {
  //   #up_filecar {
  //     border-right: none;
  //   }
  // }
}

@media (min-width: 768px) {
  footer {
    border-top: rgb(248, 108, 1) solid 2px;
    text-align: left;

    .right-block {
      text-align: right;
      margin-bottom: 0;
    }
    .left-block {
      justify-content: flex-start;
      align-items: flex-end;
    }
  }
  .footer-logo {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .row-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .fileList {
    display: block;
  }

  textarea .message {
    overflow: hidden;
    font-size: 14px;
    display: block;
  }
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
  }
  .pre-bg {
    .pre-header {
      text-align: center;
      margin-top: 20px;
      &::after {
        position: absolute;
        left: 40%;
        margin: 0 0 0 -10px;
      }
    }
    .tel {
      padding-left: 35px;
    }
  }
  .back-to-top {
    bottom: 15px;
  }
}

@media (min-width: 1024px) {
  #intro {
    p {
      width: 60%;
    }
    .carousel-control-prev {
      width: 5%;
    }
    .carousel-control-next {
      width: 5%;
    }
  }
}

@media (max-width: 992px) {
  // #header {
  //   // .logo {
  //   //   img{
  //   //     width: 5px;
  //   //     height: 8px;
  //   //   }
  //   // }
  // }
}

/*--------------------------------------------------------------
# animate keyframes
--------------------------------------------------------------*/
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
  overflow: hidden;
}

.section-bg {
  background: rgb(247, 247, 247);
}

/*--------------------------------------------------------------
# Sections Header
--------------------------------------------------------------*/

.section-header {
  h3 {
    font-size: 32px;
    color: rgb(36, 205, 152);
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    z-index: 10;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: rgb(221, 221, 221);
      bottom: 1px;
      left: calc(10% - 60px);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: rgb(36, 205, 152);
      bottom: 0;
      left: calc(10% - 20px);
    }
  }
  p {
    text-align: center;
    padding-bottom: 30px;
    color: rgb(112, 112, 112);
  }
}

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/
.card-body {
  h5 {
    font-size: 18px;
    color: rgb(255, 1, 1);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: rgb(221, 221, 221);
      bottom: 1px;
      left: calc(20% - 60px);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: rgb(255, 1, 1);
      bottom: 0;
      left: calc(20% - 20px);
    }
  }

}
// #projects {
  // background: rgb(255, 255, 254);
  // color: #13547a;
  // background-size: cover;
  // padding: 60px 0 40px 0;

  // .container {
  //   position: relative;
  //   z-index: 10;
  // }
  // .projects-card {
  //   background: rgb(255, 255, 254);
  //   border-radius: 0 0 4px 4px;
  //   box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  //   margin-bottom: 20px;
  //   img {
  //     width: 100%;
  //     height: 35%;
  //     object-fit: cover;
  //     border-radius: 4px 4px 0 0;
  //   }
  // }

//   .slider-deck{
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     text-align: center;
//     color:#000;
//     .head-line{
//       font-size: 20px;
//       border-bottom: #13547a solid 3px;
//     }
//     .inner-deck{
//       display: block;
//       overflow: hidden;
//       margin: 0 auto;
//       .projects-deck{
//         img{
//           width: 480px;
//           height: 210px;
//         }
//         // .card-deck{}
//       }
//     }
//   }
// }

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

#services {
  background: url("../imgs/intro-carousel/1.jpg") center  no-repeat fixed;
  // background-size: cover;
  // object-fit: contain;
  padding: 60px 0 40px 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(rgb(255, 255, 254), 0.281);
    z-index: 9;
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .card {
    max-width: 564px;
  }
  .card-title {
    font-size: 25px;
  }
  .card .services-card {
    background-color: rgb(134, 142, 150);
  }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

#contact {
  padding: 60px 0;
}

.repair-info {
  .form-heading {
    font-size: 1.25rem;
    color: rgb(255, 1, 1);
  }
  .form-sub {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .status {
    font-size: 13px;
    color: rgb(255, 1, 1);
  }
  #up_filecar {
    border-right: solid 1px #ccc;
  }
}
.form-control {
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
  background-color: inherit;
  &:focus {
    box-shadow: none;
    border-color: rgb(36, 205, 152);
  }
}

textarea .message {
  overflow: hidden;
  font-size: 14px;
  display: block;
}

.btn-primary {
  background: 0 0 #ffffff;
  border: 1px solid rgb(36, 205, 152);
  border-radius: 3px;
  color: rgb(36, 205, 152);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
  &:hover {
    border-color: rgb(36, 205, 152);
    color: #ffffff;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }
  &:active {
    border-color: rgb(36, 205, 152);
    color: #ffffff;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }
  &:focus {
    border-color: rgb(36, 205, 152);
    color: #ffffff;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }
}

.address {
  .form-heading {
    font-size: 1.25rem;
    color: rgb(255, 1, 1);
  }
  .text-blue {
    position: relative;
    z-index: 10;
    line-height: 1.5;
    display: block;
    font-size: 14px;
    padding-left: 100px;
    color: rgb(36, 205, 152);
  }
  iframe {
    width: 100%;
    height: 368px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/*--------------------------------------------------------------
# Pre Footer
--------------------------------------------------------------*/

.pre-bg {
  // background-color: rgba(75, 87, 100, 0.5);
  background-color: rgba(212, 212, 212, 0.5);
  color: rgb(1, 1, 1);
  .container {
    margin-top: 20px;
  }
  .pre-header {
    font-size: 20px;
    color: rgb(248, 108, 1);
    &::after {
      content: "";
      display: block;
      width: 20%;
      height: 3px;
      background-color: rgb(79, 212, 113);
    }
  }
  .address {
    h6 {
      a {
        color: rgb(1, 1, 1);
      }
      .tel {
        padding-left: 35px;
      }
    }
  }
  .service-text {
    h6 {
      // color: rgb(1,1,1);
      margin: 0;
      line-height: 27px;
    }
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  background: rgb(79, 212, 113);
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: rgb(248, 108, 1) solid 2px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  .left-block {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .right-block {
    text-align: right;
    margin-bottom: 0;
    justify-content: flex-end;
  }
}

.row-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#footer {
  .credits {
    color: rgb(1, 1, 1);
    a {
      color: rgb(248, 108, 1);
    }
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 0;
  img {
    width: 80%;
    height: 80%;
  }
}

// @media (max-width: 768px) {

// }
/*--------------------------------------------------------------
# Prelaoder
--------------------------------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: rgb(236, 236, 236);

  &::before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 10px solid #f2f2f2;
    border-image:linear-gradient(15deg, #65adda 0%,rgb(5, 53, 47) 100%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
}

.img-preloader {
  position: fixed;
  top: calc(40% - 30px);
  left: calc(47% - 30px);
  width: 500px;
  height: 500px;
  background-image: url("../imgs/logo/Devine Auto logo.png");
  background-repeat: no-repeat;
  z-index: 1000;
  transition: 200ms ease;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: rgb(248, 108, 1);
  color: rgb(255, 255, 254);
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
  i {
    padding-top: 12px;
    color: rgb(255, 255, 254);
  }
}

// #vehicles {
//   width: 100%;
//   height: 100vh;
//   position: relative;
// }

// ================

// // Helpers
// @mixin clearfix {
//   &:after {
//      content: "";
//      display: table;
//      clear: both;
//  }
// }

// .align-center {
//   text-align: center;
// }

// // Grid
// .row {
//   @include clearfix;
//   margin: -20px 0;
//   .col {
//      padding: 0 20px;
//      float: left;
//      box-sizing: border-box;
//      &.x-50 {
//         width: 50%;
//      }
//      &.x-100 {
//         width: 100%;
//      }
//   }
// }

// .content-wrapper {
//   min-height: 100%;
//   position: relative;
// }

// .get-in-touch {
//   max-width: 650px;
//   margin: 0 auto;
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);

//  .title {
//     text-align: center;
//     font-family: Lato, sans-serif;
//     text-transform: uppercase;
//     letter-spacing: 3px;
//     font-size: 36px;
//     line-height: 48px;
//     padding-bottom: 48px;
//  }
// }

// .contact-form {
//   .form-field {
//      position: relative;
//      margin: 32px 0;
//   }
//   .input-text {
//      display: block;
//      width: 100%;
//      height: 36px;
//      border-width: 0 0 2px 0;
//      border-color: #000;
//      font-size: 18px;
//      line-height: 26px;
//      font-weight: 400;

//      &:focus {
//         outline: none;
//      }

//      &:focus,
//      &.not-empty {
//         + .label {
//            transform: translateY(-24px);
//         }
//      }
//   }
//   .label {
//      position: absolute;
//      left: 20px;
//      bottom: 11px;
//      font-size: 18px;
//      line-height: 26px;
//      font-weight: 400;
//      color: #888;
//      cursor: text;
//      transition: transform .2s ease-in-out;
//   }

// }
